@if (data$ | async; as data) {
<div class="offers-header">
  <ul class="offers-header__breadcrumbs breadcrumbs">
    <li class="breadcrumbs__item"><a routerLink="/offers">Offers</a></li>
    @if(data.offer) {
    <li class="breadcrumbs__item"><a [routerLink]="['/offers', data.offer.offer_id]">{{ data.offer.title }}</a></li>
    }
  </ul>



  <nb-button-group class="offers-header__actions">
    @if (data.whoami.merchant_id) {
    <button nbButton outline status="primary" routerLink="create">
      Create offer
    </button>
    }
  </nb-button-group>
</div>
}

<router-outlet></router-outlet>