<nb-card>
  <nb-card-body [formGroup]="form">
    <form class="form" (submit)="submit$.emit()">
      <div class="header">
        <button nbButton ghost [routerLink]="['../..']"><nb-icon icon="arrow-back-outline"></nb-icon></button>

        <h6>Sign up as Moderator</h6>
      </div>

      <div class="form-group">
        <input nbInput formControlName="email" placeholder="Type your email..." autocomplete="username" />

        <div class="form-row">
          <input nbInput formControlName="first_name" placeholder="First name" autocomplete="given-name" />

          <input nbInput formControlName="last_name" placeholder="Last name" autocomplete="family-name" />
        </div>

        <input nbInput formControlName="password" placeholder="Type your password..." type="password"
          autocomplete="new-password" />

        <input nbInput formControlName="confirm_password" placeholder="Confirm your password..." type="password" />
      </div>

      <div class="form-actions">
        <button nbButton status="primary" [nbSpinner]="(loading$ | async) ?? false" nbSpinnerStatus="success"
          status="primary" type="submit">
          Submit
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>