<nb-card>
  <nb-card-body [formGroup]="form">
    <form class="form">
      <h6>Sign in</h6>

      <div class="form-group">
        <input nbInput formControlName="email" placeholder="Type your email..." autocomplete="email" />
      </div>

      <div class="form-actions">
        <button nbButton outline [nbSpinner]="(loading$ | async) ?? false" nbSpinnerStatus="success"
          (click)="passkey$.emit()">
          Use passkey instead
        </button>
        <button nbButton status="primary" [nbSpinner]="(loading$ | async) ?? false" nbSpinnerStatus="success"
          status="primary" (click)="submit$.emit()">
          Submit
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>