<nb-card>
  <nb-card-body [formGroup]="form">
    <form class="form" (submit)="submit$.emit()">
      <div class="header">
        <button nbButton ghost [routerLink]="['..']"><nb-icon icon="arrow-back-outline"></nb-icon></button>
        <h6>Sign in</h6>
      </div>

      <div class="form-group">
        <input nbInput formControlName="email" placeholder="Type your email" autocomplete="username" />

        <input nbInput formControlName="password" type="password" placeholder="Type your password"
          autocomplete="current-password" />
      </div>

      <div class="form-actions">
        <button nbButton status="primary" type="submit" [nbSpinner]="(loading$ | async) ?? false"
          nbSpinnerStatus="success" status="primary">
          Submit
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>