@if ((offer$ | async); as offer) {
<!-- <nb-card>
  <nb-card-header>
    <h6>{{ offer.title }}</h6>
    <a [routerLink]="['/offers', offer.offer_id, 'edit']">Edit</a>
  </nb-card-header>
  <nb-card-body>
    <p>{{ offer.description }}</p>
  </nb-card-body>
</nb-card> -->

@for (variant of offer.variants; track variant.offer_variant_id) {
<nb-card>
  <nb-card-header>
    <h6>{{ variant.title || offer.title }}</h6>
    <a [routerLink]="['/offers', offer.offer_id, 'variants', variant.offer_variant_id, 'edit']">Edit</a>
  </nb-card-header>
  <nb-card-body>
    <p>{{ variant.description || offer.description }}</p>
  </nb-card-body>
  <nb-card-footer>
    <p>
      {{ variant.current_price.amount }} <span>{{ variant.current_price.token.symbol }}</span>
    </p>
    <nb-button-group status="success">
      <button nbButton [routerLink]="['/offers', offer.offer_id, 'order', variant.offer_variant_id]"
        [queryParams]="{quantity: 1}">Order</button>
    </nb-button-group>
  </nb-card-footer>
</nb-card>
}
}