:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.offer__overview {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.offer__variants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}
