/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #edf1f7;
}

#turnkey {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.form-group:last-of-type {
  margin-bottom: 1rem;
}

.container {
  max-width: 58rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
