<div class="thread">
  <div class="thread__messages" #container>
    <div class="thread__messages-wrapper">
      @if (data$ | async; as data) {
      @for(message of data.messages; track message) {
      <div class="message" [class.message--own]="message.own" [class.message--sent]="message.created_at">
        <label for="" class="message__author">{{ message.user?.first_name }} {{ message.user?.last_name }}</label>
        <p class="message__content">{{ message.body }}</p>
        <span class="message__timestamp">{{ message.sent_at | date:"MMM d 'at' hh:mm a" }}</span>
      </div>
      }
      }
    </div>
  </div>

  <div class="thread__textbox">
    <form class="textbox" (submit)="send($event)" [formGroup]="group">
      <p class="textbox__author">{{author$ | async}}</p>
      <div class="textbox__control">
        <input nbInput fullWidth formControlName="textbox" shape="semi-round" class="textbox__input"
          placeholder="Type your message here" />
        <button nbButton status="primary" class="textbox__submit" shape="semi-round" type="submit">Send</button>
      </div>
      <div class="textbox__footer">
        @if ((role$ | async) ==='moderator') {
        <button nbButton status="danger" ghost (click)="reject.emit()">Reject</button>
        <button nbButton status="warning" outline (click)="refund.emit()">Refund</button>
        <button nbButton status="success" outline (click)="release.emit()">Release</button>
        }
      </div>
    </form>
  </div>
</div>