@if ((data$ | async); as data) {
<nb-stepper orientation="horizontal" [linear]="true" disableStepNavigation #stepper
  [class.content-hidden]="isComplaint(data.currentStatus)">
  <nb-step label="Deposit" #depositRef [completed]="isCompleted('deposit', data)">
    <p>You need to make your deposit first.</p>

    <button nbButton status="primary" size="small" (click)="deposit(data.tokenAmount)">Deposit {{data.tokenAmount |
      unit:-18}} ETH</button>
  </nb-step>
  <nb-step label="Preparing" #executionRef [completed]="isCompleted('execution', data)">
    <p>Merchant is preparing your order.</p>
  </nb-step>
  <nb-step label="Shipping" #shippingRef [completed]="isCompleted('shipping', data)">
    <p>Your order is on its way. Merchant did not provide tracking information.</p>
  </nb-step>
  <nb-step label="Shipped" #shippedRef [completed]="isCompleted('shipped', data)">
    <p>Your order has been delivered. Haven't received it yet? Click here. Otherwise, confirm it below.</p>

    <button nbButton status="success" (click)="release()">Confirm</button>
  </nb-step>
  <nb-step label="Done" #doneRef [completed]="isCompleted('done', data)">
    <p>Thanks for making shopping with us. We hope you come back soon.</p>
  </nb-step>
</nb-stepper>

@if (isComplaint(data.currentStatus)) {
<app-complaint-thread author="You (Customer)"></app-complaint-thread>
}
}