@if ((data$ | async); as data) {
<nb-stepper orientation="horizontal" [linear]="true" disableStepNavigation #stepper
  [class.content-hidden]="isComplaint(data.currentStatus)">
  <nb-step label="Awaiting deposit" #depositRef [completed]="isCompleted('deposit', data)">
    Customer does need to make a deposit first.
  </nb-step>
  <nb-step label="Confirm" #confirmRef [completed]="isCompleted('confirm', data)">

    <p>Customer just made a deposit of {{data.tokenAmount | unit:-18}} ETH. Now it's your turn to confirm that you can
      execute the
      order, or cancel.</p>

    <div class="button-wrapper">
      <button nbButton (click)="cancel()">
        Cancel
      </button>
      <button nbButton status="success" (click)="confirm()">
        Confirm
      </button>
    </div>
  </nb-step>
  <nb-step label="Preparing" #prepareRef [completed]="isCompleted('preparing', data)">
    Have you already prepared & sent the order? Please confirm it below.

    <div class="button-wrapper">
      <button nbButton status="success" (click)="shipping()">
        Ship
      </button>
    </div>
  </nb-step>
  <nb-step label="Shipping" #shippingRef [completed]="isCompleted('shipping', data)">
    Order is on it's way to the customer. Provide tracking information if available. Once you receive confirmation from
    a carrier, please confrim it below.

    <div class="button-wrapper">
      <button nbButton status="success" (click)="shipped()">
        Shipped
      </button>
    </div>
  </nb-step>
  <nb-step label="Shipped" #shippedRef [completed]="isCompleted('shipped', data)">
    Order has been delivered. Customer deposit will be released once he confirms receiving it, or after redemption
    period fades.
  </nb-step>
  <nb-step label="Done" #doneRef [completed]="isCompleted('done', data)">
    Great job! You've successfully delivered the order. Thank you for your service.
  </nb-step>
</nb-stepper>

@if (isComplaint(data.currentStatus)) {
<app-complaint-thread author="You (Merchant)"></app-complaint-thread>
}
}